<a href="https://colab.research.google.com/github/meilani-4232401011/Pemograman-Dasar-/blob/main/Latihan_08%20dan%20penjelasannya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Nama: Meilani
Nim: 4232401011
Latihan-08 dan penjelasannya**

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Kode berikut digunakan untuk memanggil library yang dibutuhkan:
pandas untuk mengolah data
numpy untuk operasi numerik
matplotlib & seaborn untuk visualisasi

In [ ]:
Meilani_df = pd.read_csv('/content/mahasiswa.csv')
#import file csv

Kode ini membaca file mahasiswa.csv dan menyimpannya ke DataFrame bernama Meilani_df.

In [ ]:
Meilani_df.head()
#melihat 5 data teratas

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Teknik,150,59.5,82.0,2024-05-05
1,E0002,Budi,teknik,20.0,84.5,99.0,2024-02-14
2,E0003,Citra,Energi,-5,56.2,78.0,2024-04-29
3,E0004,Dewi,Teknik,twenty,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22.0,999,65.0,2024-03-22

Fungsi ini menampilkan 5 baris pertama dari dataset, untuk memastikan data berhasil di-load.

In [ ]:
Meilani_df.tail()
#melihat 5 data terakhir

      nim   nama      jurusan  umur nilai_akhir  kehadiran_pct tanggal_daftar
73  E0057  Fauzi       Energi  23.0        58.2           76.0     2024-02-05
74  E0039   Mita       Energi  23.0        77.2           79.0     2024-01-04
75  E0069  Salsa  Informatika  23.0        63.4           86.0     2024-04-14
76  E0031   Eros  Informatika  23.0        68.0           66.0     2024-02-27
77  E0026   Zara  Informatika  24.0        90.4           82.0     2024-11-24

Meilani_df.tail() digunakan untuk melihat 5 baris terakhir dari DataFrame.

In [ ]:
Meilani_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             78 non-null     object
 1   nama            78 non-null     object
 2   jurusan         76 non-null     object
 3   umur            76 non-null     object
 4   nilai_akhir     76 non-null     object
 5   kehadiran_pct   76 non-null     float64
 6   tanggal_daftar  76 non-null     object
dtypes: float64(1), object(6)
memory usage: 4.4+ KB

DataFrame.info() digunakan untuk menampilkan ringkasan struktur data, yaitu:
Yang ditampilkan:
1. Jumlah baris
2. Jumlah kolom
3. Nama setiap kolom
4. Jumlah data non-null (berapa yang tidak kosong)
5. Tipe data tiap kolom
6. Penggunaan memori DataFrame
Fungsinya:
Mengecek apakah ada missing value
Melihat apakah tipe data sudah benar
Menilai apakah data perlu dibersihkan
Mengetahui struktur dataset secara cepat

In [ ]:
Meilani_df.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

Perintah ini digunakan untuk menghitung jumlah nilai kosong (NaN) di setiap kolom dalam DataFrame.
isna() → mengecek mana cell yang kosong.
sum() → menjumlahkan total nilai kosong per kolom.
Hasilnya: kita akan melihat berapa banyak data yang hilang di setiap kolom. Ini berguna untuk mengetahui bagian mana yang perlu dibersihkan.

In [ ]:
print("Jumlah duplikasi: ", Meilani_df.duplicated().sum())

Jumlah duplikasi:  8

Meilani_df.duplicated() → Mengecek setiap baris apakah duplikat dari baris sebelumnya.
.sum() → Menghitung total baris yang terdeteksi sebagai duplikat.
print() → Menampilkan jumlah tersebut ke layar.
Output-nya akan menunjukkan berapa banyak baris yang duplikat dalam DataFrame.

In [ ]:
Meilani_df.drop_duplicates(inplace=True)

drop_duplicates() → Menghapus baris yang duplikat (baris yang isinya sama persis dengan baris lain).
inplace=True → Perubahan dilakukan langsung pada DataFrame, tanpa membuat salinan baru.
Hasil akhirnya: DataFrame bersih dari baris duplikat.

In [ ]:
print("Jumlah duplikasi: ", Meilani_df.duplicated().sum())

Jumlah duplikasi:  0

Meilani_df.duplicated()
Mengecek setiap baris apakah merupakan duplikat dari baris sebelumnya.
.sum()
Menjumlahkan berapa banyak baris yang terdeteksi sebagai duplikat.
print()
Menampilkan hasil jumlah duplikat ke layar.
Output-nya menunjukkan total baris duplikat dalam DataFrame setelah proses cleaning atau penghapusan duplikat dilakukan.

In [ ]:
Meilani_df.isna().sum()

nim               0
nama              0
jurusan           2
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

Output tersebut menunjukkan jumlah nilai kosong (NA / missing values) pada setiap kolom di dalam dataset Meilani_df.
Penjelasannya singkat dan benar:
nim: 0 → tidak ada data yang hilang
nama: 0 → tidak ada data yang hilang
jurusan: 2 → ada 2 baris tanpa jurusan
umur: 2 → ada 2 baris umur kosong
nilai_akhir: 2 → ada 2 nilai akhir yang hilang
kehadiran_pct: 2 → ada 2 data persentase kehadiran yang hilang
tanggal_daftar: 2 → ada 2 tanggal daftar yang kosong
Kesimpulan: Beberapa kolom memiliki missing values sebanyak 2 data yang perlu ditangani dalam proses data cleaning.

In [ ]:
Meilani_df['jurusan'] = Meilani_df['jurusan'].fillna("Pembangkit Energi")

#di sini untuk jurusan di isi dengan "Pembangkit Energi"

Baris kode itu digunakan untuk mengisi data kosong (NaN) pada kolom jurusan.
Jika sebelumnya ada baris yang tidak memiliki jurusan, maka nilai kosong tersebut akan diganti menjadi: "Pembangkit Energi"
Hasilnya, kolom jurusan tidak lagi memiliki missing values.

In [ ]:
Meilani_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              2
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

Perintah ini digunakan untuk menghitung jumlah data yang masih kosong (NaN) pada setiap kolom di DataFrame.
Outputnya akan menunjukkan berapa banyak nilai kosong di tiap kolom setelah kamu mengisi kolom jurusan.

In [ ]:
Meilani_df['umur'] = Meilani_df['umur'].fillna(23)

Kode tersebut digunakan untuk mengisi nilai umur yang masih kosong (NaN) dengan angka 23.
Artinya, jika ada mahasiswa yang tidak memiliki data umur, maka otomatis akan diisi dengan nilai 23 sebagai nilai default.

In [ ]:
Meilani_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       2
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

Kode ini digunakan untuk menghitung jumlah nilai kosong (NaN) pada setiap kolom di DataFrame.
Hasilnya menunjukkan berapa banyak data yang masih belum terisi di masing-masing kolom setelah kamu melakukan proses pengisian sebelumnya.

In [ ]:
Meilani_df['nilai_akhir'] = pd.to_numeric(mhs_df['nilai_akhir'], errors='coerce') #konversi tipe data menjadi numeric yaitu float

Meilani_df['nilai_akhir'].mean() #mecari rata-rata

np.float64(88.15384615384616)

Kolom nilai_akhir diubah menjadi tipe data numeric (float).
Jika ada data yang tidak bisa dikonversi, maka otomatis diubah menjadi NaN (karena errors='coerce').
Menghitung rata-rata dari semua nilai dalam kolom nilai_akhir, dengan otomatis mengabaikan nilai NaN.

In [ ]:
Meilani_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, 0 to 69
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             70 non-null     object
 1   nama            70 non-null     object
 2   jurusan         70 non-null     object
 3   umur            70 non-null     object
 4   nilai_akhir     65 non-null     float64
 5   kehadiran_pct   68 non-null     float64
 6   tanggal_daftar  68 non-null     object
dtypes: float64(2), object(5)
memory usage: 4.4+ KB

Menampilkan informasi struktur DataFrame: jumlah baris, jumlah kolom, tipe data tiap kolom, serta berapa banyak data yang tidak kosong (non-null).
Pada hasilnya terlihat bahwa kolom nilai_akhir, kehadiran_pct, dan tanggal_daftar masih memiliki nilai kosong (NaN).

In [ ]:
Meilani_df['nilai_akhir'] = Meilani_df['nilai_akhir'].fillna(88)
#sekarang isi missing value pada nilai_akhir dengan nilai rata-rata yg sudah di dapat sebelumnya

Semua nilai kosong pada kolom nilai_akhir diganti dengan angka 88, yaitu nilai rata-rata yang telah dihitung sebelumnya.

In [ ]:
Meilani_df.isna().sum()
#cek hasilnya

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     2
tanggal_daftar    2
dtype: int64

Digunakan untuk mengecek kembali jumlah nilai yang masih kosong setelah dilakukan pengisian.

In [ ]:
Meilani_df['kehadiran_pct'] = pd.to_numeric(Meilani_df['kehadiran_pct'], errors='coerce') #konversi tipe data menjadi numeric yaitu float

Meilani_df['kehadiran_pct'].mean() #mecari rata-rata

np.float64(82.13235294117646)

Kolom kehadiran_pct diubah menjadi tipe numeric (float).
Jika ada data yang tidak bisa dikonversi (misalnya teks), maka otomatis diubah menjadi NaN karena errors='coerce'.
Digunakan untuk menghitung rata-rata nilai kehadiran_pct, dengan otomatis mengabaikan nilai NaN.

In [ ]:
Meilani_df['kehadiran_pct'] = Meilani_df['kehadiran_pct'].fillna(82)
#sekarang isi missing value pada nilai_akhir dengan nilai rata-rata yg sudah di dapat sebelumnya

Semua nilai kosong (NaN) pada kolom kehadiran_pct diganti dengan 82, yaitu nilai rata-rata kehadiran yang sudah kamu hitung sebelumnya. Kamu membersihkan data dengan mengisi nilai kehadiran yang hilang menggunakan angka 82 agar tidak ada lagi data kosong pada kolom tersebut.

In [ ]:
Meilani_df.isna().sum()
#cek hasilnya

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    2
dtype: int64

Kode tersebut digunakan untuk mengecek kembali jumlah nilai kosong (NaN) pada setiap kolom setelah proses pembersihan data yang kamu lakukan.
Jika hasilnya sudah 0 pada semua kolom, artinya tidak ada lagi data yang hilang dan proses pengisian nilai kosong berhasil.
Jadi, kode ini dipakai untuk memastikan bahwa semua missing value sudah teratasi.

In [ ]:
Meilani_df['tanggal_daftar'] = Meilani_df['tanggal_daftar'].fillna('2024-03-24')

# karena tanggal lagir di sini bertipe string jadi langsung masukan saja tidak perlu di cari rata-rata nya atau konversi ke numerik

Kolom tanggal_daftar masih bertipe string (object), sehingga nilai kosongnya bisa langsung diganti dengan teks tanggal "2024-03-24" tanpa perlu dihitung rata-rata atau dikonversi menjadi angka terlebih dahulu. Karena tanggal berbentuk string, cukup isi NaN dengan tanggal tertentu secara langsung.

In [ ]:
Meilani_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    0
dtype: int64

Kode ini digunakan untuk mengecek kembali apakah masih ada nilai kosong (NaN) di setiap kolom setelah kamu mengisi kolom tanggal_daftar.

In [ ]:
Meilani_df.jurusan.value_counts()

jurusan
Energi               21
Informatika          17
Teknik               12
Manajemen Energi     11
Pembangkit Energi     2
teknik                1
 energi               1
ManajemenEnergi       1
EnErGi                1
Teknik                1
ENG                   1
ENERGI                1
Name: count, dtype: int64

Kode ini digunakan untuk menghitung jumlah kemunculan setiap kategori jurusan dalam DataFrame.
Hasilnya menunjukkan berapa banyak mahasiswa di masing-masing jurusan.

In [ ]:
Meilani_df.umur.value_counts()

umur
23.0          15
25.0          10
20.0           9
24.0           9
22.0           8
19.0           7
21.0           4
23             2
150            1
twenty         1
-5             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

Kode ini digunakan untuk menghitung berapa kali setiap nilai umur muncul di kolom umur.

In [ ]:
Meilani_df['jurusan'] = Meilani_df['jurusan'].str.lower().str.strip()
#ubah menjadi huruf kecil

Penjelasan:
.str.lower() → mengubah semua isi teks menjadi huruf kecil.
.str.strip() → menghapus spasi berlebih di awal atau akhir teks.
Tujuannya supaya data jurusan lebih rapi dan konsisten, misalnya:
" Teknik Mesin" → "teknik mesin"
"PEMBANGKIT ENERGI" → "pembangkit energi"

In [ ]:
Meilani_df.jurusan.value_counts()

jurusan
energi               24
informatika          17
teknik               14
manajemen energi     11
pembangkit energi     2
manajemenenergi       1
eng                   1
Name: count, dtype: int64

Kode ini digunakan untuk menghitung jumlah kemunculan setiap jurusan setelah jurusan diubah menjadi huruf kecil.

In [ ]:
#untuk memudahkan replacing maka di buatkan mapping jurusan sesuai dengan yg di inginkan, dengan kata-kata yg mirip di masukan ke jurusan yg seusai

mapping_jurusan = {
    "energi": "Pembangkit Energi",
    " energi ": "Pembangkit Energi",
    "ENERGI": "Pembangkit Energi",
    "EnErGi": "Pembangkit Energi",
    "eng": "Pembangkit Energi",
    "teknik": "Pembangkit Energi",
    "Teknik ": "Pembangkit Energi",
    "teknik ": "Pembangkit Energi",
    "manajemenenergi": "Manajemen Energi",
    "manajemen energi": "Manajemen Energi"
}

Mapping ini dibuat untuk menyamakan penulisan jurusan yang berbeda-beda tetapi artinya sama.
Contohnya: "energi", "ENERGI", "eng", atau "teknik" semuanya akan disatukan ke kategori “Pembangkit Energi”.

In [ ]:
Meilani_df["jurusan"] = Meilani_df["jurusan"].replace(mapping_jurusan)

Kode ini digunakan untuk menyeragamkan nama jurusan agar rapi dan konsisten setelah proses mapping.

In [ ]:
Meilani_df["jurusan"] = Meilani_df["jurusan"].str.title()

#kemablikan menjadi huruf besar

.str.title() akan mengubah setiap kata pada kolom jurusan menjadi Huruf Besar di Awal Kata.

In [ ]:
Meilani_df.jurusan.value_counts()

jurusan
Pembangkit Energi    41
Informatika          17
Manajemen Energi     12
Name: count, dtype: int64

Kode ini digunakan untuk menghitung jumlah mahasiswa pada setiap jurusan setelah semua proses pembersihan dan standarisasi jurusan selesai.

In [ ]:
print("Hasil setelah normalisasi dan pemetaan:")
print(Meilani_df['jurusan'].value_counts())

Hasil setelah normalisasi dan pemetaan:
jurusan
Pembangkit Energi    41
Informatika          17
Manajemen Energi     12
Name: count, dtype: int64

Baris pertama mencetak teks pemberitahuan agar hasil lebih jelas.
Baris kedua menampilkan jumlah mahasiswa di setiap jurusan setelah:
data jurusan dibersihkan,
diseragamkan dengan mapping,
dan diubah format hurufnya.
Kode ini dipakai untuk menampilkan jumlah mahasiswa per jurusan setelah proses pembersihan data selesai sehingga hasilnya lebih akurat dan rapi.

In [ ]:
Meilani_df.umur.value_counts()

umur
23.0          15
25.0          10
20.0           9
24.0           9
22.0           8
19.0           7
21.0           4
23             2
150            1
twenty         1
-5             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

Kode ini digunakan untuk menghitung berapa kali setiap nilai umur muncul dalam kolom umur.

In [ ]:
Meilani_df['umur'] = Meilani_df['umur'].replace('twenty', 20)

#bisa di lakuakn replace satu persatu seperti ini
# dari sebelumnya twenty menjadi 20

Kode ini mengganti nilai "twenty" (teks) pada kolom umur menjadi 20 (angka).
Ini dilakukan agar semua data umur memiliki tipe yang konsisten, yaitu numerik.

In [ ]:
print(Meilani_df['umur'].value_counts())

umur
23.0          15
25.0          10
20.0           9
24.0           9
22.0           8
19.0           7
21.0           4
23             2
150            1
20             1
-5             1
120            1
NaN_string     1
21years        1
Name: count, dtype: int64

Kode ini digunakan untuk menampilkan jumlah kemunculan setiap nilai umur setelah pembersihan data dilakukan (misalnya setelah mengganti "twenty" menjadi 20). Perintah ini menampilkan distribusi umur di dalam DataFrame secara rapi.

In [ ]:
"""mapping_umur = {
    'twenty': 20,
    '21years': 21,
    'NaN_string': np.nan,
    -5: np.nan,
    120: np.nan,
    150: np.nan
}
"""
#untuk nilai yang NaN_string, -5, 120, 150 bisa langsung di ganti dengan rata-rata umur atau di jadikan missing value, tetapi jika di jadikan missing value maka setelah ini anda akan mengganti missing value tersebut, jadi sebelum itu lebih baik  di cari rata-rata nya terlebih dahulu lalu di ganti pada mappingan ini

"mapping_umur = {\n    'twenty': 20,\n    '21years': 21,\n    'NaN_string': np.nan,\n    -5: np.nan,\n    120: np.nan,\n    150: np.nan\n}\n"

Mapping ini dibuat untuk membersihkan data umur yang tidak valid atau masih berupa teks:
"twenty" → diganti menjadi 20
"21years" → diganti menjadi 21
"NaN_string" → dijadikan NaN (data kosong)
-5, 120, 150 → dianggap umur tidak masuk akal, sehingga diubah menjadi NaN

In [ ]:
Meilani_df['umur'] = pd.to_numeric(Meilani_df['umur'], errors='coerce')
Meilani_df['umur'].mean()

np.float64(25.220588235294116)

pd.to_numeric(..., errors='coerce') → Mengubah semua nilai kolom umur menjadi angka; nilai yang tidak bisa dikonversi menjadi NaN.
.mean() → Menghitung rata-rata dari nilai valid di kolom umur, mengabaikan NaN.
np.float64(...) → Tipe data hasil rata-rata adalah float 64-bit, yaitu angka desimal.
Jadi rata-rata umur yang valid di kolom tersebut adalah ≈ 25,22 tahun.

In [ ]:
mapping_umur = {
    'twenty': 20,
    '21years': 21,
    'NaN_string': 25,
    -5: 25,
    120: 25,
    150: 25
}

Mapping yang kamu buat berfungsi untuk mengganti nilai-nilai tidak valid atau ekstrem di kolom umur menjadi angka yang lebih realistis atau rata-rata.

In [ ]:
Meilani_df['umur'] = Meilani_df['umur'].replace(mapping_umur)

berfungsi untuk mengganti nilai-nilai tertentu di kolom umur berdasarkan dictionary mapping_umur yang sudah kamu buat sebelumnya.

In [ ]:
print("Hasil setelah pemetaan:")
print(Meilani_df['umur'].value_counts())
print(f"\nTipe data kolom 'umur' sekarang: {Meilani_df['umur'].dtype}")

Hasil setelah pemetaan:
umur
23.0    17
25.0    13
20.0    10
24.0     9
22.0     8
19.0     7
21.0     4
Name: count, dtype: int64

Tipe data kolom 'umur' sekarang: float64

Kode yang kamu tulis ini berfungsi untuk menampilkan ringkasan hasil setelah penggantian nilai di kolom umur. Penjelasannya:
print("Hasil setelah pemetaan:") → hanya menampilkan teks sebagai penanda.
print(Meilani_df['umur'].value_counts()) → menampilkan jumlah masing-masing nilai unik di kolom umur setelah dilakukan pemetaan dengan replace. Ini membantu melihat distribusi data.
print(f"\nTipe data kolom 'umur' sekarang: {Meilani_df['umur'].dtype}") → menampilkan tipe data kolom umur sekarang. Jika sebelumnya ada string dan sudah dikonversi ke numeric, biasanya hasilnya int64 atau float64 (jika ada NaN).

In [ ]:
Meilani_df.isna().sum()
#ternyata terdapat 2 nilai yang NaN pada kolom umur

nim               0
nama              0
jurusan           0
umur              2
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    0
dtype: int64

Meilani_df.isna().sum() → menghitung jumlah nilai NaN di tiap kolom.
Jika hasilnya menunjukkan umur 2, berarti ada 2 baris di kolom umur yang kosong atau tidak bisa dikonversi menjadi angka.

In [ ]:
Meilani_df.head(50)
#untuk memastika bisa menggunakan sintaks di atas dengan masukan value baris yang ingin di lihat, cara ini juga bisa di lakukan untuk tail(50)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Pembangkit Energi,25.0,59.5,82.0,2024-05-05
1,E0002,Budi,Pembangkit Energi,20.0,84.5,99.0,2024-02-14
2,E0003,Citra,Pembangkit Energi,25.0,56.2,78.0,2024-04-29
3,E0004,Dewi,Pembangkit Energi,20.0,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22.0,999.0,65.0,2024-03-22
5,E0006,Fajar,Pembangkit Energi,21.0,-20.0,78.0,2024-06-21
6,E0007,Gina,Informatika,19.0,70.2,150.0,2024-06-25
7,E0008,Hendra,Pembangkit Energi,25.0,56.7,-10.0,2024-10-01
8,E0009,Ika,Informatika,25.0,58.2,83.0,2024-11-17
9,E0010,Joko,Pembangkit Energi,23.0,62.7,69.0,2024-01-24
10,E0011,Kiki,Pembangkit Energi,25.0,66.6,70.0,05/02/2024
11,E0012,Lina,Informatika,22.0,66.1,82.0,2024-03-24
12,E0013,Maya,Manajemen Energi,21.0,63.4,82.0,2024-12-25
13,E0014,Nando,Pembangkit Energi,23.0,80.4,99.0,2024-05-05
14,E0015,Oki,Pembangkit Energi,22.0,70.2,100.0,2024-04-22
15,E0016,Putu,Pembangkit Energi,25.0,85.7,68.0,2024-04-27
16,E0017,Qori,Pembangkit Energi,25.0,67.6,82.0,2024-02-03
17,E0018,Rina,Pembangkit Energi,23.0,90.1,85.0,2024-04-18
18,E0019,Sari,Informatika,22.0,90.4,94.0,2024-03-24
19,E0020,Tono,Informatika,20.0,64.9,100.0,2024-10-02
20,E0021,Uli,Pembangkit Energi,24.0,78.4,90.0,2024-07-04
21,E0022,Vina,Pembangkit Energi,NaN,75.4,70.0,2024-01-25
22,E0023,Wawan,Pembangkit Energi,20.0,80.1,92.0,2024-11-01
23,E0024,Xena,Informatika,22.0,70.3,94.0,2024-09-27
24,E0025,Yudi,Pembangkit Energi,23.0,89.4,65.0,2024-12-14
25,E0026,Zara,Informatika,24.0,90.4,82.0,2024-11-24
26,E0027,Arif,Pembangkit Energi,19.0,66.7,75.0,24 Nov 2024
27,E0028,Bima,Pembangkit Energi,24.0,90.0,81.0,2024-09-13
28,E0029,Cici,Pembangkit Energi,23.0,91.5,84.0,2024-11-23
29,E0030,Dani,Pembangkit Energi,20.0,88.0,75.0,2024-10-03
30,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
31,E0032,Ferry,Pembangkit Energi,25.0,87.3,80.0,2024-01-30
32,E0033,Gilang,Pembangkit Energi,23.0,88.0,70.0,2024-09-05
33,E0034,Hani,Manajemen Energi,25.0,76.3,73.0,2024-03-06
34,E0035,Indra,Manajemen Energi,23.0,61.6,98.0,2024-11-06
35,E0036,Jeni,Informatika,20.0,92.2,77.0,2024-12-31
36,E0037,Kris,Manajemen Energi,22.0,94.8,88.0,2024-03-24
37,E0038,Lulu,Pembangkit Energi,19.0,64.9,69.0,2024-06-22
38,E0039,Mita,Pembangkit Energi,23.0,77.2,79.0,2024-01-04
39,E0040,Nina,Pembangkit Energi,24.0,80.2,79.0,09-17-2024
40,E0041,Omar,Informatika,25.0,88.0,97.0,2024-05-01
41,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-08
42,E0043,Rico,Pembangkit Energi,20.0,86.4,91.0,2024-04-07
43,E0044,Sinta,Manajemen Energi,19.0,81.4,87.0,2024-08-04
44,E0045,Tari,Pembangkit Energi,22.0,89.6,68.0,2024-12-10
45,E0046,Umar,Pembangkit Energi,19.0,71.1,86.0,2024-02-25
46,E0047,Vita,Manajemen Energi,20.0,62.6,93.0,2024.06.28
47,E0048,Widi,Manajemen Energi,20.0,66.1,80.0,2024-02-08
48,E0049,Xul,Pembangkit Energi,25.0,89.5,100.0,May 22 2024
49,E0050,Yosef,Pembangkit Energi,24.0,95.0,65.0,2024-02-17

Meilani_df.head(50) → menampilkan 50 baris pertama dari DataFrame Meilani_df. Ini berguna untuk mengecek data secara cepat tanpa menampilkan seluruh baris.
Meilani_df.tail(50) → menampilkan 50 baris terakhir dari DataFrame.
Kamu juga bisa mengganti angka 50 dengan jumlah baris yang ingin dilihat, misalnya head(10) untuk 10 baris pertama atau tail(5) untuk 5 baris terakhir.
Ini sangat berguna untuk memastikan perubahan kolom umur atau kolom lain sudah benar setelah pemetaan dan penanganan NaN.

In [ ]:
Meilani_df.tail(50)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
20,E0021,Uli,Pembangkit Energi,24.0,78.4,90.0,2024-07-04
21,E0022,Vina,Pembangkit Energi,NaN,75.4,70.0,2024-01-25
22,E0023,Wawan,Pembangkit Energi,20.0,80.1,92.0,2024-11-01
23,E0024,Xena,Informatika,22.0,70.3,94.0,2024-09-27
24,E0025,Yudi,Pembangkit Energi,23.0,89.4,65.0,2024-12-14
25,E0026,Zara,Informatika,24.0,90.4,82.0,2024-11-24
26,E0027,Arif,Pembangkit Energi,19.0,66.7,75.0,24 Nov 2024
27,E0028,Bima,Pembangkit Energi,24.0,90.0,81.0,2024-09-13
28,E0029,Cici,Pembangkit Energi,23.0,91.5,84.0,2024-11-23
29,E0030,Dani,Pembangkit Energi,20.0,88.0,75.0,2024-10-03
30,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
31,E0032,Ferry,Pembangkit Energi,25.0,87.3,80.0,2024-01-30
32,E0033,Gilang,Pembangkit Energi,23.0,88.0,70.0,2024-09-05
33,E0034,Hani,Manajemen Energi,25.0,76.3,73.0,2024-03-06
34,E0035,Indra,Manajemen Energi,23.0,61.6,98.0,2024-11-06
35,E0036,Jeni,Informatika,20.0,92.2,77.0,2024-12-31
36,E0037,Kris,Manajemen Energi,22.0,94.8,88.0,2024-03-24
37,E0038,Lulu,Pembangkit Energi,19.0,64.9,69.0,2024-06-22
38,E0039,Mita,Pembangkit Energi,23.0,77.2,79.0,2024-01-04
39,E0040,Nina,Pembangkit Energi,24.0,80.2,79.0,09-17-2024
40,E0041,Omar,Informatika,25.0,88.0,97.0,2024-05-01
41,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-08
42,E0043,Rico,Pembangkit Energi,20.0,86.4,91.0,2024-04-07
43,E0044,Sinta,Manajemen Energi,19.0,81.4,87.0,2024-08-04
44,E0045,Tari,Pembangkit Energi,22.0,89.6,68.0,2024-12-10
45,E0046,Umar,Pembangkit Energi,19.0,71.1,86.0,2024-02-25
46,E0047,Vita,Manajemen Energi,20.0,62.6,93.0,2024.06.28
47,E0048,Widi,Manajemen Energi,20.0,66.1,80.0,2024-02-08
48,E0049,Xul,Pembangkit Energi,25.0,89.5,100.0,May 22 2024
49,E0050,Yosef,Pembangkit Energi,24.0,95.0,65.0,2024-02-17
50,E0051,Zaki,Manajemen Energi,20.0,71.3,95.0,2024-04-19
51,E0052,Adel,Informatika,23.0,61.6,65.0,2024-07-18
52,E0053,Bagus,Manajemen Energi,25.0,86.4,83.0,2024-08-04
53,E0054,Cahyo,Pembangkit Energi,NaN,62.6,78.0,2024-01-30
54,E0055,Dina,Pembangkit Energi,24.0,67.5,68.0,2024-10-26
55,E0056,Edo,Pembangkit Energi,23.0,88.0,98.0,2024-03-21
56,E0057,Fauzi,Pembangkit Energi,23.0,58.2,76.0,2024-02-05
57,E0058,Gita,Pembangkit Energi,24.0,89.5,90.0,2024-03-02
58,E0059,Hadi,Informatika,23.0,78.8,70.0,2024-08-02
59,E0060,Ilham,Informatika,21.0,88.0,85.0,2024-05-02
60,E0061,Jaya,Informatika,22.0,60.2,84.0,2024-08-22
61,E0062,Kirana,Pembangkit Energi,25.0,92.4,65.0,2024-08-22
62,E0063,Lutfi,Pembangkit Energi,19.0,76.5,97.0,2024-05-15
63,E0064,Mega,Pembangkit Energi,21.0,90.2,80.0,2024-07-08
64,E0065,Nadia,Informatika,23.0,72.5,99.0,2024-12-26
65,E0066,Oleh,Pembangkit Energi,23.0,94.4,98.0,2024-01-05
66,E0067,Putri,Pembangkit Energi,24.0,59.1,82.0,2024-05-15
67,E0068,Rafi,Informatika,19.0,84.7,74.0,2024-05-19
68,E0069,Salsa,Informatika,23.0,63.4,86.0,2024-04-14
69,E0070,Tasya,Manajemen Energi,23.0,74.5,68.0,2024-02-17

Berguna untuk memeriksa data di bagian akhir DataFrame, misalnya untuk memastikan pemetaan, missing value, atau perubahan data sudah benar.
Sama seperti head(), angka 50 bisa diganti sesuai kebutuhan, misal tail(10) untuk 10 baris terakhir.
Jika ingin fokus pada kolom tertentu, misal hanya umur, bisa pakai:

In [ ]:
Meilani_df['umur'].mean() #mencari rata-rata

np.float64(22.426470588235293)

Meilani_df['umur'] → memilih kolom umur.
.mean() → menghitung nilai rata-rata dari semua angka di kolom tersebut.
Nilai NaN akan diabaikan secara otomatis saat menghitung mean.

In [ ]:
Meilani_df['umur'] = Meilani_df['umur'].fillna(22) #isi dengan nilai rata-rata

.fillna(22) → mengganti semua nilai NaN di kolom dengan 22.
Hasilnya disimpan kembali ke kolom umur, jadi setelah ini tidak ada lagi nilai kosong (NaN) di kolom umur.

In [ ]:
Meilani_df.isna().sum()

nim               0
nama              0
jurusan           0
umur              0
nilai_akhir       0
kehadiran_pct     0
tanggal_daftar    0
dtype: int64

digunakan untuk menghitung jumlah nilai NaN di setiap kolom DataFrame Meilani_df.

In [ ]:
Meilani_df.duplicated().sum()

np.int64(0)

digunakan untuk menghitung jumlah nilai NaN di setiap kolom DataFrame Meilani_df.

In [ ]:
Meilani_df.head(55)

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
0,E0001,Aldi,Pembangkit Energi,25.0,59.5,82.0,2024-05-05
1,E0002,Budi,Pembangkit Energi,20.0,84.5,99.0,2024-02-14
2,E0003,Citra,Pembangkit Energi,25.0,56.2,78.0,2024-04-29
3,E0004,Dewi,Pembangkit Energi,20.0,63.0,99.0,2024-08-02
4,E0005,Eka,Manajemen Energi,22.0,999.0,65.0,2024-03-22
5,E0006,Fajar,Pembangkit Energi,21.0,-20.0,78.0,2024-06-21
6,E0007,Gina,Informatika,19.0,70.2,150.0,2024-06-25
7,E0008,Hendra,Pembangkit Energi,25.0,56.7,-10.0,2024-10-01
8,E0009,Ika,Informatika,25.0,58.2,83.0,2024-11-17
9,E0010,Joko,Pembangkit Energi,23.0,62.7,69.0,2024-01-24
10,E0011,Kiki,Pembangkit Energi,25.0,66.6,70.0,05/02/2024
11,E0012,Lina,Informatika,22.0,66.1,82.0,2024-03-24
12,E0013,Maya,Manajemen Energi,21.0,63.4,82.0,2024-12-25
13,E0014,Nando,Pembangkit Energi,23.0,80.4,99.0,2024-05-05
14,E0015,Oki,Pembangkit Energi,22.0,70.2,100.0,2024-04-22
15,E0016,Putu,Pembangkit Energi,25.0,85.7,68.0,2024-04-27
16,E0017,Qori,Pembangkit Energi,25.0,67.6,82.0,2024-02-03
17,E0018,Rina,Pembangkit Energi,23.0,90.1,85.0,2024-04-18
18,E0019,Sari,Informatika,22.0,90.4,94.0,2024-03-24
19,E0020,Tono,Informatika,20.0,64.9,100.0,2024-10-02
20,E0021,Uli,Pembangkit Energi,24.0,78.4,90.0,2024-07-04
21,E0022,Vina,Pembangkit Energi,22.0,75.4,70.0,2024-01-25
22,E0023,Wawan,Pembangkit Energi,20.0,80.1,92.0,2024-11-01
23,E0024,Xena,Informatika,22.0,70.3,94.0,2024-09-27
24,E0025,Yudi,Pembangkit Energi,23.0,89.4,65.0,2024-12-14
25,E0026,Zara,Informatika,24.0,90.4,82.0,2024-11-24
26,E0027,Arif,Pembangkit Energi,19.0,66.7,75.0,24 Nov 2024
27,E0028,Bima,Pembangkit Energi,24.0,90.0,81.0,2024-09-13
28,E0029,Cici,Pembangkit Energi,23.0,91.5,84.0,2024-11-23
29,E0030,Dani,Pembangkit Energi,20.0,88.0,75.0,2024-10-03
30,E0031,Eros,Informatika,23.0,68.0,66.0,2024-02-27
31,E0032,Ferry,Pembangkit Energi,25.0,87.3,80.0,2024-01-30
32,E0033,Gilang,Pembangkit Energi,23.0,88.0,70.0,2024-09-05
33,E0034,Hani,Manajemen Energi,25.0,76.3,73.0,2024-03-06
34,E0035,Indra,Manajemen Energi,23.0,61.6,98.0,2024-11-06
35,E0036,Jeni,Informatika,20.0,92.2,77.0,2024-12-31
36,E0037,Kris,Manajemen Energi,22.0,94.8,88.0,2024-03-24
37,E0038,Lulu,Pembangkit Energi,19.0,64.9,69.0,2024-06-22
38,E0039,Mita,Pembangkit Energi,23.0,77.2,79.0,2024-01-04
39,E0040,Nina,Pembangkit Energi,24.0,80.2,79.0,09-17-2024
40,E0041,Omar,Informatika,25.0,88.0,97.0,2024-05-01
41,E0042,Pia,Manajemen Energi,24.0,74.4,99.0,2024-03-08
42,E0043,Rico,Pembangkit Energi,20.0,86.4,91.0,2024-04-07
43,E0044,Sinta,Manajemen Energi,19.0,81.4,87.0,2024-08-04
44,E0045,Tari,Pembangkit Energi,22.0,89.6,68.0,2024-12-10
45,E0046,Umar,Pembangkit Energi,19.0,71.1,86.0,2024-02-25
46,E0047,Vita,Manajemen Energi,20.0,62.6,93.0,2024.06.28
47,E0048,Widi,Manajemen Energi,20.0,66.1,80.0,2024-02-08
48,E0049,Xul,Pembangkit Energi,25.0,89.5,100.0,May 22 2024
49,E0050,Yosef,Pembangkit Energi,24.0,95.0,65.0,2024-02-17
50,E0051,Zaki,Manajemen Energi,20.0,71.3,95.0,2024-04-19
51,E0052,Adel,Informatika,23.0,61.6,65.0,2024-07-18
52,E0053,Bagus,Manajemen Energi,25.0,86.4,83.0,2024-08-04
53,E0054,Cahyo,Pembangkit Energi,22.0,62.6,78.0,2024-01-30
54,E0055,Dina,Pembangkit Energi,24.0,67.5,68.0,2024-10-26

akan menampilkan 55 baris pertama dari DataFrame Meilani_df. Berguna untuk memeriksa data awal dan memastikan perubahan seperti pemetaan umur atau pengisian NaN sudah benar.

In [ ]:
Meilani_df.tail()

,nim,nama,jurusan,umur,nilai_akhir,kehadiran_pct,tanggal_daftar
65,E0066,Oleh,Pembangkit Energi,23.0,94.4,98.0,2024-01-05
66,E0067,Putri,Pembangkit Energi,24.0,59.1,82.0,2024-05-15
67,E0068,Rafi,Informatika,19.0,84.7,74.0,2024-05-19
68,E0069,Salsa,Informatika,23.0,63.4,86.0,2024-04-14
69,E0070,Tasya,Manajemen Energi,23.0,74.5,68.0,2024-02-17

akan menampilkan 5 baris terakhir dari DataFrame Meilani_df secara default. Berguna untuk memeriksa bagian akhir DataFrame, misalnya untuk memastikan perubahan data atau pengecekan nilai NaN sudah diterapkan.

In [ ]:
Meilani_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70 entries, 0 to 69
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nim             70 non-null     object
 1   nama            70 non-null     object
 2   jurusan         70 non-null     object
 3   umur            70 non-null     float64
 4   nilai_akhir     70 non-null     float64
 5   kehadiran_pct   70 non-null     float64
 6   tanggal_daftar  70 non-null     object
dtypes: float64(3), object(4)
memory usage: 4.4+ KB

akan mendapatkan ringkasan informasi lengkap tentang DataFrame Meilani_df. Menampilkan jumlah baris dan kolom.
Menunjukkan nama kolom beserta jumlah non-null values (bisa digunakan untuk cek missing value).
Menunjukkan tipe data setiap kolom (int64, float64, object, dll).
Menunjukkan jumlah memori yang digunakan oleh DataFrame.

In [ ]:
Meilani_df.to_csv("mahasiswa_clean.csv", index=False)

digunakan untuk menyimpan DataFrame Meilani_df ke file CSV

In [ ]:
from google.colab import files
files.download("mahasiswa_clean.csv")

from google.colab import files → mengimpor modul files dari Google Colab.

files.download("mahasiswa_clean.csv") → membuat link unduh otomatis untuk file mahasiswa_clean.csv sehingga bisa disimpan di komputer.

Setelah dijalankan, browser akan menampilkan pop-up download atau file akan langsung tersimpan di folder unduhan komputer.