<a href="https://colab.research.google.com/github/meilani-4232401011/Pemograman-Dasar-/blob/main/Pertemuan_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# input - output
total = float (input("Berapa porsi makan yang anda beli? :"))
Nama = str (input("Siapa Nama Pelanggan? :"))

Berapa porsi makan yang anda beli? :1
Siapa Nama Pelanggan? :mei

In [ ]:
# input
food = "nasi goreng"
jumlah = 2
harga = 15
buka_pukul = 10
jam = 10
# output
print("mei sedang memesan", food)
print("mei sedang memesan " + food)
print("mei sedang memesan %d" % jumlah, food)
print("mei sedang memesan nasi goreng dengan harga %.3f" % harga)
print("mei sedang memesan %s" % food)
print("mei beli nasi goreng jam %x:10 pagi (hexadecimal: %x)" % (jam, jam))
print("warung buka pukul %o pagi" % (buka_pukul))

mei sedang memesan nasi goreng
mei sedang memesan nasi goreng
mei sedang memesan 2 nasi goreng
mei sedang memesan nasi goreng dengan harga 15.000
mei sedang memesan nasi goreng
mei beli nasi goreng jam a:10 pagi (hexadecimal: a)
warung buka pukul 12 pagi

In [ ]:
# konversi waktu
total_detik = 3600
jam = total_detik // 3600
sisa_detik = total_detik % 3600
menit = sisa_detik // 6
detik = sisa_detik % 60
print(f"Hasil Konversi: {jam} Jam, {menit} Menit, {detik} Detik")


# konversi waktu (ekspresi)
total_detik = int(input("total detik"))
jam = total_detik // 3600
sisa_detik = total_detik % 3600
menit = sisa_detik // 6
detik = sisa_detik % 60
print(f"hasil konversi: {jam} jam, {menit} menit, {detik} detik")

Hasil Konversi: 1 Jam, 0 Menit, 0 Detik
total detik358200
hasil konversi: 99 jam, 300 menit, 0 detik

In [ ]:
# kalkulator sederhana
sate_padang = 15000
sate_madura = 20000
print("penjumlahan:", sate_padang + sate_madura)
print("pengurangan:", sate_padang - sate_madura)
print("perkalian:", sate_padang * sate_madura)
print("pembagian:", sate_padang / sate_madura)

penjumlahan: 35000
pengurangan: -5000
perkalian: 300000000
pembagian: 0.75

In [ ]:
# mengecek bilangan
bilangan = 8
hasil = (bilangan > 0 and (bilangan % 2 == 0))
print("genap dan positif?", hasil)

genap dan positif? True

In [ ]:
# menghitung nilai akhir
tugas = 80
uts = 70
uas = 90
nilai_akhir = (0.3 * tugas) + (0.3 * uts) + (0.4 * uas)
print("Nilai akhir =", nilai_akhir)

# ekspresi
matematika = int(input("matematika : "))
fisika = int(input("fisika : "))
bahasa_inggris = int(input("bahasa_inggris : "))
kimia_dasar =  int(input("kimia_dasar : "))
plc = int(input("plc : "))
nilai_mahasiswa = (matematika + fisika + bahasa_inggris + kimia_dasar + plc) / 5
standar_kelulusan = int(input("standar_kelulusan :"))
apakah_lulus = (nilai_mahasiswa >= standar_kelulusan)
perlu_remedial = (nilai_mahasiswa < standar_kelulusan)

print(f"nilai mahasiswa: {nilai_mahasiswa}")
print(f"standar kelulusan: {standar_kelulusan}")
print(f"apakah mahasiswa lulus?, {apakah_lulus}")
print(f"perlu remedial?, {perlu_remedial}")

Nilai akhir = 81.0
matematika : 90
fisika : 90
bahasa_inggris : 90
kimia_dasar : 90
plc : 93
standar_kelulusan :85
nilai mahasiswa: 90.6
standar kelulusan: 85
apakah mahasiswa lulus?, True
perlu remedial?, False

In [ ]:
# belanja
belanja_baju = 1200000
diskon = (0, 0.35 * belanja_baju) [belanja_baju > 1000000]
total_harga = belanja_baju - diskon
print("total harga setelah diskon =", total_harga)

total harga setelah diskon = 780000.0

In [ ]:
# belanja dengan diskon 35%
belanja = int(input("Masukkan total belanja: "))
persen_diskon = (0, 0.35)[belanja > 100000]
print("Total harga setelah diskon =", total_harga)

Masukkan total belanja: 1200000
Total harga setelah diskon = 765000.0

In [ ]:
belanja = 850000
diskon = (0, 0.1 * belanja)[belanja > 500000]
total_harga = belanja - diskon
print("Total harga setelah diskon =", total_harga)

Total harga setelah diskon = 765000.0

In [ ]:
# Latihan nomor 1
tahun = int(input("Masukkan tahun: "))
kabisat = (tahun % 4 == 0 and tahun % 100 != 0) or (tahun % 400 == 0)
print("Apakah tahun", tahun, "merupakan tahun kabisat?", kabisat)

Masukkan tahun: 2024
Apakah tahun 2024 merupakan tahun kabisat? True

In [ ]:
# Latihan nomor 2 buat program sederhana
# fungsi input
panjang = float(input("Masukkan panjang: "))
lebar = float(input("Masukkan lebar: "))

# fungsi proses (aritmatika)
luas = panjang * lebar

# fungsi output
print("Luas persegi panjang adalah =", luas)

Masukkan panjang: 10
Masukkan lebar: 5
Luas persegi panjang adalah = 50.0

In [4]:
# TUGAS
# Input
subtotal = float(input("Masukkan total belanja (Rp): "))
member = int(input("Apakah pelanggan member? (1 = Ya, 0 = Tidak): "))

# Hitung syarat diskon (boolean -> int)
syarat_diskon = int((member == 1) and (subtotal > 100000))

# Hitung jumlah diskon (15% jika syarat terpenuhi, 0 jika tidak)
diskon = subtotal * 0.15 * syarat_diskon

# Hitung harga setelah diskon
harga_setelah_diskon = subtotal - diskon

# Hitung PPN 11%
ppn = harga_setelah_diskon * 0.11

# Hitung total akhir
total_akhir = harga_setelah_diskon + ppn

# Output
print("Subtotal          : Rp", subtotal)
print("Diskon            : Rp", diskon)
print("Harga setelah diskon : Rp", harga_setelah_diskon)
print("PPN (11%)         : Rp", ppn)
print("Total yang harus dibayar: Rp", total_akhir)

Masukkan total belanja (Rp): 175600
Apakah pelanggan member? (1 = Ya, 0 = Tidak): 1
Subtotal          : Rp 175600.0
Diskon            : Rp 26340.0
Harga setelah diskon : Rp 149260.0
PPN (11%)         : Rp 16418.6
Total yang harus dibayar: Rp 165678.6